@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.card {
    display: inline-block;
    width: 250px;
    height: 420px;
    margin: 6px;
    
}
.jumbotron {
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    
}
